<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>About Me</title>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Blog Template">
        <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
        <link rel="shortcut icon" href="/static/assets/images/favicon.ico">

        <!-- FontAwesome JS-->
        <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"
                integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7"
                crossorigin="anonymous"></script>

        <!-- Theme CSS -->
        <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/theme-7.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/blog.css' %}">
    </head>

    <body>
        <header class="header text-center">
            <h1 class="blog-name pt-lg-4 mb-0"><a href="/home">Dom's Blog</a></h1>

            <nav class="navbar navbar-expand-lg navbar-dark">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="navigation" class="collapse navbar-collapse flex-column">
                    <div class="profile-section pt-3 pt-lg-0">
                        <img class="profile-image mb-3 rounded-circle mx-auto"
                             src="/static/assets/images/profile.png" alt="image">
                        <div class="bio mb-3">Hi, my name is Dominykas Gudauskas. I go beep boop beep $100k boop.<br><a
                                href="/about">Find out more about me</a></div><!--//bio-->
                        <ul class="social-list list-inline py-3 mx-auto">
                            <li class="list-inline-item"><a href="https://www.facebook.com/dominykas.gudauskas"><i
                                    class="fab fa-facebook fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/d-gudauskas/"><i
                                    class="fab fa-linkedin-in fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/dxg857"><i
                                    class="fab fa-github-alt fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="https://stackoverflow.com/users/13157227/rummeris"><i
                                    class="fab fa-stack-overflow fa-fw"></i></a></li>
                            {#                            <li class="list-inline-item"><a href="#"><i class="fab fa-codepen fa-fw"></i></a></li>#}
                        </ul><!--//social-list-->
                        <hr>
                    </div><!--//profile-section-->

                    <ul class="navbar-nav flex-column text-left">
                        <li class="nav-item">
                            <a class="nav-link" href="/home"><i class="fas fa-home fa-fw mr-2"></i>Blog Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/about"><i class="fas fa-user fa-fw mr-2"></i>About Me<span
                                    class="sr-only">(current)</span></a>
                        </li>
                    </ul>

                    <div class="my-2 my-md-3">
                        <a class="btn btn-primary" href="mailto:d.gudauskas1@gmail.com"
                           target="_blank">Get in Touch</a>
                    </div>

                    <div class="add_post">
                        {% if user.is_authenticated %}
                            <a href="{% url 'post_new' %}" class="top-menu"><span class="btn btn-dark">Add Post
                            </span></a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>

        <div class="main-wrapper">
            <article class="about-section py-5">
                <div class="container">
                    <h2 class="title mb-3">About Me</h2>
                    <div>
                        <figure style="float: left; padding-right: 30px"><img class="img-fluid"
                                                                        src="/static/assets/images/book.jpg"
                                                                        alt="image"></figure>
                        <p>
                            My name is Dominykas Gudauskas. I come from a small country in the North-East of Europe
                            called Lithuania. Currently studying Computer Science at the University of 
                            Birmingham and doing pretty well for myself. I've interned at Barclays as a
                            Technology Developer and even though it's my only real developer work experience, I've been 
                            working on a couple personal projects in my free time. As well as coding I really enjoy
                            taking photos of things and places around me and you may see one or two of my pictures on
                            the site. I will most likely be updating this blog as I progress through my career and life
                            in general and hopefully this will turn into a one-stop site for friends and employers.
                        </p>
                    </div>

                    <h5 class="mt-5">About The Blog</h5>
                    <p>
                        I started the blog as a task for my university, but in the future when I dabble a bit more in
                        web development I might experiment with the website and turn it into a completely different
                        project. For now it's just something I can show my friends and colleagues and obviously,
                        my university lecturers. Making the blog was a fun challenge; I got to work with Python and
                        Django, something I feel I should've done ages ago, but I'm happy I got around to doing it
                        eventually. I used an HTML template for the design of the blog for now, but I might dabble
                        with HTML and CSS to make something of my own whenever I get around to actually sitting down
                        and just writing it up. First basic posts are there, all that's left now is to just add more
                        and more on top!
                    </p>
                    <figure style="float: right; padding-left: 30px;"><img class="img-fluid"
                                                                       src="/static/assets/images/lunch.jpg"
                                                                          alt="image"></figure>

                    <h5 class="mt-5">My Skills and Experiences</h5>
                    <p>
                    <h6 class="my-3">Skills:</h6>
                    <ul class="mb-5">
                        <li class="mb-2">Programming Languages: Java/Kotlin, C, C++, C#, Haskell, Python</li>
                        <li class="mb-2">Web Development: HTML, CSS, JavaScript, Django, Spring, REST</li>
                        <li class="mb-2">Design: Adobe Photoshop, Illustrator, XD, Lightroom</li>
                    </ul>
                    <p>
                    <h6 class="my-3">Experiences:</h6>
                    <ul class="mb-5">
                        <li class="mb-2">Internship: Summer Technology Developer at Barclays PLC</li>
                        <li class="mb-2">"Cookie Adventures" - Year 11 project with a teammate, a 2D platformer
                            game played on a desktop PC</li>
                        <li class="mb-2">"Space handball" - 2nd Year of University group project, a multiplayer
                            game with optional AI controlled players and manually written game engine</li>
                    </ul>
                    </p>

                    {% comment %}<figure><a href="https://made4dev.com"><img class="img-fluid"
                                                                src="/static/assets/images/promo-banner.jpg"
                                                                alt="image"></a></figure>{% endcomment %}
                </div>
            </article>

            <footer class="footer text-center py-2 theme-bg-dark">

                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a
                        href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>

            </footer>
        </div>

        <!-- Javascript -->
        <script src="/static/assets/plugins/jquery-3.3.1.min.js"></script>
        <script src="/static/assets/plugins/popper.min.js"></script>
        <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/assets/js/blog.js"></script>
    </body>
</html> 

