{% extends 'devBlog/base.html' %}

{% block headExtras %}
    <title>Beep Boop Dom</title>
{% endblock %}

{% block headerCurrentTab %}
    <ul class="navbar-nav flex-column text-left">
        <li class="nav-item active">
            <a class="nav-link" href="/home"><i class="fas fa-home fa-fw mr-2"></i>Blog Home<span
                    class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cv"><i class="fas fa-book fa-fw mr-2"></i>Resume</a>
        </li>
    </ul>
{% endblock %}

{% block bodyExtras %}
    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
            {% for post in posts reversed %}
                <div class="item mb-5">
                    <div class="media">
                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex"
                             src="/static/assets/images/blog/post-point.png" alt="image">
                        <div class="media-body">
                            <h3 class="title mb-1"><a href="{% url 'post_detail' pk=post.pk %}"
                                                      id="post_title">{{ post.title }}</a></h3>
                            <div class="meta mb-1"><span class="date">Published: {{ post.published_date }}</span></div>
                            <div class="intro"
                                 style="display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow:
                              hidden;text-overflow: ellipsis;">{{ post.text }}</div>
                            <a class="more-link" href="{% url 'post_detail' pk=post.pk %}">Read more &rarr;</a>
                        </div><!--//media-body-->
                    </div><!--//media-->
                </div><!--//item-->
            {% endfor %}
        </div>
    </section>
{% endblock %}