{% extends 'devBlog/base.html' %}

{% block headExtras %}
    <title>New Post</title>
{% endblock %}

{% block headerCurrentTab %}
    <ul class="navbar-nav flex-column text-left">
        <li class="nav-item">
            <a class="nav-link" href="/home"><i class="fas fa-home fa-fw mr-2"></i>Blog Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/resume"><i class="fas fa-book fa-fw mr-2"></i>Resume</a>
        </li>
    </ul>
{% endblock %}

{% block bodyExtras %}
    <div style="padding-left: 20px; padding-top: 10px; padding-bottom: 500px;">
        <h2 style="padding: 10px;">Post</h2>
        <form method="post" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-primary" style="float: left" id="save_btn">Save</button>
        </form>
    </div>
{% endblock %}
