{% extends 'devBlog/base.html' %}

{% block headExtras %}
    <title>Resume</title>
{% endblock %}

{% block headerCurrentTab %}
    <ul class="navbar-nav flex-column text-left">
        <li class="nav-item">
            <a class="nav-link" href="/home"><i class="fas fa-home fa-fw mr-2"></i>Blog Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/resume"><i class="fas fa-book fa-fw mr-2"></i>Resume<span
                    class="sr-only">(current)</span></a>
        </li>
    </ul>
{% endblock %}

{% block bodyExtras %}
    {% comment %}<div class="container">
         <h3 class="mt-5 mb-3">Typography</h3>
         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
             Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
             ridiculus mus.</p>
         <h5 class="my-3">Bullet Points:</h5>
         <ul class="mb-5">
             <li class="mb-2">Lorem ipsum dolor sit amet consectetuer.</li>
             <li class="mb-2">Aenean commodo ligula eget dolor.</li>
             <li class="mb-2">Aenean massa cum sociis natoque penatibus.</li>
         </ul>
         <ol class="mb-5">
             <li class="mb-2">Lorem ipsum dolor sit amet consectetuer.</li>
             <li class="mb-2">Aenean commodo ligula eget dolor.</li>
             <li class="mb-2">Aenean massa cum sociis natoque penatibus.</li>
         </ol>
         <h5 class="my-3">Quote Example:</h5>
         <blockquote class="blockquote m-lg-5 py-3 pl-4 px-lg-5">
             <p class="mb-2">You might not think that programmers are artists, but programming is an
                 extremely creative profession. It's logic-based creativity.</p>
             <footer class="blockquote-footer">John Romero</footer>
         </blockquote>

         <h5 class="my-3">Table Example:</h5>
         <table class="table table-striped my-5">
             <thead>
                 <tr>
                     <th scope="col">#</th>
                     <th scope="col">First</th>
                     <th scope="col">Last</th>
                     <th scope="col">Handle</th>
                 </tr>
             </thead>
             <tbody>
                 <tr>
                     <th scope="row">1</th>
                     <td>Mark</td>
                     <td>Otto</td>
                     <td>@mdo</td>
                 </tr>
                 <tr>
                     <th scope="row">2</th>
                     <td>Jacob</td>
                     <td>Thornton</td>
                     <td>@fat</td>
                 </tr>
                 <tr>
                     <th scope="row">3</th>
                     <td>Larry</td>
                     <td>the Bird</td>
                     <td>@twitter</td>
                 </tr>
             </tbody>
         </table>

         <h5 class="mb-3">Embed A Tweet:</h5>

         <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">1969:<br>-what&#39;re
             you doing with that 2KB of RAM?<br>-sending people to the moon<br><br>2017:<br>-what&#39;re
             you doing with that 1.5GB of RAM?<br>-running Slack</p>&mdash; I Am Devloper (@iamdevloper)
             <a href="https://twitter.com/iamdevloper/status/926458505355235328?ref_src=twsrc%5Etfw">November
                 3, 2017</a></blockquote>
         <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


         <h3 class="mt-5 mb-3">Video Example</h3>
         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
             Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
             ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
             consequat massa quis enim. </p>

         <div class="embed-responsive embed-responsive-16by9">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/hnCmSXCZEpU"
                     frameborder="0"
                     allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen></iframe>
         </div>
     </div>{% endcomment %}

    <style>
        p {
            color: #000
        }

        h1, h2, h3, h4 {
            font-family: "Segoe UI", -apple-system, sans-serif;
        }

        .column1 {
            width: 50%;
            padding: 30px;
            text-align: left;
        }

        .column2 {
            width: 50%;
            padding: 30px;
            text-align: center;
        }

        .column11 {
            width: 30%;
            padding-left: 30px;
            padding-right: 30px;
            text-align: right;
        }

        .column22 {
            width: 70%;
            padding-right: 30px;
            text-align: left;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>

    <div id="cv_header" class="container-fluid" style="background-color: #abb9f6">
        <div class="row">
            <div class="column1">
                <p><b>Address:</b> 82A Raddlebarn Rd, Birmingham, B29 6HH</p>
                <p><b>Phone:</b> 07500801772</p>
                <p><b>Email:</b> d.gudauskas1@gmail.com</p>
            </div>
            <div class="column2">
                <h2>Dominykas Gudauskas</h2>
                <hr style="height:1px;border-top:1px solid #000"/>
                <h5>Computer Science Student</h5>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding: 30px 100px 30px 30px;">
        <div class="row">
            <div class="column11">
                <p style="font-size: x-large">Profile</p>
            </div>
            <div class="column22" style="height: 30px;border-bottom:4px solid #000;border-right:30px solid #000;"></div>
        </div>
        <div class="row">
            <div class="column11"></div>
            <div class="column22">
                <p> A 3<sup>rd</sup> year Computer Science student at the University of Birmingham, currently working
                    towards a BSc (Hons) (1st). Have intermediate experience with coding in a few programming
                    languages. Excited to
                    explore interests in software development and fintech.
                </p>
            </div>
        </div>
    </div>

{% endblock %}