{% extends 'devBlog/base.html' %}

{% block headExtras %}
    {% if new_tab %}
        <title>New Tab</title>
    {% else %}
        <title>Edit Tab</title>
    {% endif %}

{% endblock %}

{% block headerCurrentTab %}
    <ul class="navbar-nav flex-column text-left">
        <li class="nav-item">
            <a class="nav-link" href="/home"><i class="fas fa-home fa-fw mr-2"></i>Blog Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/resume"><i class="fas fa-book fa-fw mr-2"></i>Resume</a>
        </li>
    </ul>
{% endblock %}

{% block bodyExtras %}
    <div id="cv_header" class="container-fluid" style="background-color: #abb9f6; text-align: center; padding: 30px">
        <h2>Tab Factory</h2>
        <hr style="border-top:1px solid #000; width: 50%"/>
        {% if new_tab %}
            <h5>New Tab</h5>
        {% else %}
            <h5>Edit Tab</h5>
        {% endif %}
    </div>

    <link rel="stylesheet" type="text/css" href="/static/assets/trix/trix.css">
    <script type="text/javascript" src="/static/assets/trix/trix.js"></script>

    <div style="padding-left: 20px; padding-top: 10px; padding-bottom: 500px; width: 80%">
        <form method="post" class="post-form" style="width: 80%">{% csrf_token %}
            <label for="id_title">Title:</label>
            <p> <input type="text" name="title" maxlength="20" id="id_title" value="{{ tab.title }}"></p>

            <label for="id_description">Description:</label>
            <input id="id_description" value="{{ tab.description }}" type="hidden" name="description">
            <trix-editor input="id_description"></trix-editor>

            <div style="float: right; margin-top: 10px">
                <button type="submit" class="save btn btn-primary" id="save_btn">Save</button>
                {% if not new_tab %}
                <a href="{% url 'resume_delete' pk=tab.pk %}" class="btn btn-dark" id="delete_btn"
                   style="margin-right: 10px">Delete</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
