{% extends 'devBlog/base.html' %}

{% block headExtras %}
    <title>Resume</title>
{% endblock %}

{% block headerCurrentTab %}
    <ul class="navbar-nav flex-column text-left">
        <li class="nav-item">
            <a class="nav-link" href="/home"><i class="fas fa-home fa-fw mr-2"></i>Blog Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/resume"><i class="fas fa-book fa-fw mr-2"></i>Resume<span
                    class="sr-only">(current)</span></a>
        </li>
    </ul>
{% endblock %}

{% block bodyExtras %}
    <style>
        p {
            color: #000
        }

        h1, h2, h3, h4 {
            font-family: "Segoe UI", -apple-system, sans-serif;
        }

        .column1 {
            width: 50%;
            padding: 30px;
            text-align: left;
        }

        .column2 {
            width: 50%;
            padding: 30px;
            text-align: center;
        }

        .column11 {
            width: 30%;
            padding-left: 30px;
            padding-right: 30px;
            text-align: right;
        }

        .column22 {
            width: 70%;
            padding-right: 30px;
            text-align: left;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>

    <div id="cv_header" class="container-fluid" style="background-color: #abb9f6; text-align: center; padding: 30px">
        <h2>Dominykas Gudauskas</h2>
        <hr style="border-top:1px solid #000; width: 50%"/>
        <h5>Computer Science Student</h5>
        <div class="container-fluid">
            {% if user.is_authenticated %}
                <nav class="blog-nav nav nav-justified my-5" style="padding-right: 25%; padding-left: 25%">
                    <a class="nav-item nav-link rounded" href="{% url 'resume_new' %}">Add</a>
                </nav>
            {% endif %}
        </div>
    </div>

    <div class="container-fluid" style="padding: 30px 100px 30px 30px;">
        {% for tab in tabs %}
            <div id="resume_tab">
                <div class="row">
                    <div class="column11">
                        <a style="font-size: x-large" {% if user.is_authenticated %}
                           href="{% url 'resume_edit' pk=tab.pk %}"
                        {% endif %}>{{ tab.title }}</a>
                    </div>
                    <div class="column22"
                         style="height: 30px;border-bottom:4px solid #000;border-right:30px solid #000;"></div>
                </div>
                <div class="row">
                    <div class="column11"></div>
                    <div class="column22">
                        {% autoescape off %}{{ tab.description }}{% endautoescape %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}